extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hey, Potential Employer

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Feel free to check out some of the projects that I have built while on my journey to becoming a web developer. They all focus around meassuring my progress and testing the proficiency of my web developemnt skills


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        div.cell.polaroid 
          a(href=`/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[2]}`, alt=`${project.project_name} thumbnail image`)
            .container
              h5= project.project_name
      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            img.thumbnail(src='https://placehold.it/550x550', alt='')
            h5 My Site'
      

