extends layout 
block content
    .error-container 
        .error-card
            .error-bar 
                ul 
                    li.circle 
                    li.circle 
                    li.circle
                p= `Path: ${error.url}`
            .error-heading
                img(src="/static/images/404.svg", alt="Error symbol")
                h1= `Status: ${error.status}`
            .error-body
                p= `${error.message}`
                
            a.btn-link(href="/") Home 